<!--p>
  receita-detail works!
</p-->

<h1>Detalhes da Prescrição</h1>
<div *ngIf="prescricao">    
  <h2>Id : {{ prescricao._id | uppercase }}</h2>
  <div>
    <span>Farmaco: </span>{{prescricao.farmaco}}
    <p>
    <span>Quantidade: </span>{{prescricao.quantidade}}
    <p>
    <span>Posologia: </span> <a routerLink="/posologia-detail/{{prescricao.posologiaPrescrita}}"> {{prescricao.posologiaPrescrita}} </a>
    <p>
    <span>Apresentação: </span>{{prescricao.apresentacao}}</div>
    
    
  <h3> Aviamentos </h3>
  <div class="grid grid-pad">
    <a *ngFor="let aviamento of prescricao.aviamento">
      <div class="module prescricao">
          <h4 *ngIf="aviamento!==null">{{aviamento.data}}</h4>          
      </div>
    </a>
  </div>
  <div>
    <label>Quantidade:</label>
    <input type="number" class="form-control" name="qtd" [(ngModel)]="model.qtd" #qtd="ngModel" required />
    <p>
      <button (click)="aviar()" onClick="window.location.reload()">Aviar Prescrição</button>
    </p>
  </div>
  <button (click)="goBack()">go back</button>
</div>
<!--div *ngIf="receita">
  <h2>{{ receita.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{receita._id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="receita.nomeUtente" placeholder="name" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div-->