<h1>{{title}}</h1>
<nav>
  <a *ngIf="userInfo && userInfo.medico" routerLink="/receitas">Receitas</a>
  <a *ngIf="userInfo && userInfo.farmaceutico" routerLink="/receitas">Receitas</a>  
  <!--<a routerLink="/receitas">Receitas</a>-->
  <a *ngIf="!userInfo" routerLink="/login">Login</a>
  <a *ngIf="userInfo" routerLink="/login">Logout</a>
  <a routerLink="/apresentacoes">Apresentacoes</a>
  <a routerLink="/apresentacao-medicamentos">Medicamentos</a>
</nav>

<router-outlet></router-outlet>
<!--<app-messages></app-messages>-->