<h2>Apresentações</h2>
<ul class="apresentacoes">
  <li *ngFor="let apresentacao of apresentacoes" [class.selected]="apresentacao === selectedApresentacao" (click)="onSelect(apresentacao)">
    <span class="badge">{{apresentacao.descricao}}</span>
  </li>
</ul>

<div *ngIf="selectedApresentacao">

  <h2>Detalhes de {{ selectedApresentacao.descricao | uppercase }}</h2>
  <div>
    <span>Fármaco: </span>{{selectedApresentacao.farmaco.nome}}</div>
  <div>
    <span>Medicamento: </span>{{selectedApresentacao.medicamento.nome}}</div>
  <div>
    <span>Forma: </span>{{selectedApresentacao.forma}}</div>
  <div>
    <span>Concentração: </span>{{selectedApresentacao.concentracao}}</div>
  <div>
    <span>Quantidade: </span>{{selectedApresentacao.qtd}}</div>

</div>