<div id="search-component">
  <h4>Procurar Receita</h4>

  <input type="text" class="form-control" name="id" [(ngModel)]="model.id" #id="ngModel" required />


  <button (click)="getReceita()">Procurar</button>
  <p>
    <a routerLink="/receita-detail/{{receita._id}}">
      {{receita._id}}
    </a>
  </p>

</div>


<!-- 
      Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->