<div id="search-component">
        <h4>Procurar Receita</h4>
      
        <input #searchBox id="search-box" />

        <button (click)="getHero()">Procurar
            <a routerLink="/detail/{{hero.id}}">
              {{hero.id}}
            </a>
        </button>
      </div>
      
      
      <!-- 
      Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->