<!--p>
  receita-detail works!
</p-->
<h1>Detalhes da Receita</h1>
<div *ngIf="receita">
  <h2>Id : {{ receita._id | uppercase }}</h2>
  <div><span>Utente: </span>{{receita.nomeUtente}}</div>
  <div><span>Data: </span>{{receita.data}}</div>
  <h3> Prescrições </h3>  
  <div class="grid grid-pad">      
  <a *ngFor="let prescricao of receita.prescricoes" routerLink="/prescricao-detail/{{receita._id}}/{{prescricao._id}}" >
    <div class="module prescricao">
        <h4>{{prescricao.validade}}</h4>
      </div>
  </a>
  </div>    
  <button (click)="goBack()">go back</button>
</div>
<!--div *ngIf="receita">
  <h2>{{ receita.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{receita._id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="receita.nomeUtente" placeholder="name" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div-->