<!--div class="col-md-6 col-md-offset-3">
  <h1>Receitas</h1>
  <div>
    <ul>
      <li *ngFor="let receita of receitas">{{receita._id}}</li>
    </ul>
  </div>
</div-->
<!--h2>Receitas</h2>
<div>
  <a routerLink="/receita/criar-receita">Criar Receita</a>
</div-->

<!--ul class="receitas">
  <li *ngFor="let receita of receitas" [class.selected]="receita === selectedReceita" (click)="onSelect(receita)">
    <span class="badge">{{receita.nomeUtente}}</span>
  </li>
</ul-->

<!--ul class="receitas">
  <li *ngFor="let receita of receitas">
    <a routerLink="receita-detail/{{receita._id}}">
      <span class="badge">{{receita.nomeUtente}}</span>
    </a>
  </li>
</ul-->

<!--div *ngIf="selectedReceita">

  <h2>Detalhes da receita de {{ selectedReceita.nomeUtente }}</h2>
  <div>
    <span>id: </span>{{selectedReceita._id}}</div>

  <div>
    <label>name:
      <input [(ngModel)]="selectedReceita.utente" placeholder="name">
    </label>
  </div>

</div-->

<h2>Receitas</h2>
<a routerLink="/receita/criar-receita">Criar Receita</a>
<ul class="receitas">
  <li *ngFor="let receita of receitas" [class.selected]="receita === selectedReceita" (click)="onSelect(receita)">
    <span class="badge">{{receita.nomeUtente}}</span>
  </li>
</ul>

<div *ngIf="selectedReceita">

  <h2>Detalhes da receita de {{ selectedReceita.nomeUtente }}</h2>
  <div>
    <h3>Prescrições</h3>
    <li *ngFor="let prescricao of selectedReceita.prescricoes">
      <!--<div>
        <label>Fármaco:
          <span [(ngModel)]="prescricao.farmaco" placeholder="farmaco">
        </label>
      </div>
      <div>
        <label>Quantidade:
          <span [(ngModel)]="prescricao.quantidade" placeholder="quantidade">
        </label>
      </div>
      <div>
        <label>Validade:
          <span [(ngModel)]="prescricao.validade" placeholder="validade">
        </label>
      </div>-->
      <div>
        <span>Fármaco: {{prescricao.farmaco}}</span>
      </div>
      <div>
        <span>Quantidade: {{prescricao.quantidade}}</span>
      </div>
      <div>
        <span>Validade: {{prescricao.validade}}</span>
      </div>
    </li>

  </div>
</div>